.all-student-page {
  display: flex;
}
.admin_right_side_div {
  max-width: 1300px;
  margin: 0 auto;
}

// @media only screen and (max-width: 640px) {
//   .admin_right_side_div {
//     max-width: 300px;
//     margin: 0 auto;
//   }
// }
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (max-width: 768px) {
//   .admin_right_side_div {
//     max-width: 600px;
//     margin: 0 auto;
//   }
// }
