.profile-picture-form {
  max-width: 800px;
  margin: 0 auto;
}
.profile-picture-form {
  padding: 20px;
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper
    .ant-upload.ant-upload-select {
    // height: 20%;
    // width: 30%;
    // padding: 20px;
  }
}
