.create-content-btn {
  display: flex;
  gap: 0.3rem;
  .ant-space-compact-block {
    justify-content: flex-end;
  }
}
.ant-btn-link {
  padding: 0px;
}
.course_content_quiz_div {
  display: flex;
}
