.quiz_submission_container {
  max-width: 80rem;
  margin: 0 auto;
  // padding-left: 1rem;
  // padding-right: 1rem;
  .ant-typography {
    margin-bottom: 0rem !important;
  }
}
.question_div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quiz_card_div_wrapper {
  display: flex;
  justify-content: space-between;
}
.quiz_card_div_action_btn {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
