// .create-course-div {
//   display: grid;
//   grid-template-columns: 1fr;
// }
.instructor-dashboard-div {
  width: 90%;
  // margin: 0 auto;
  margin-right: 2%;
}
.instructor-dashboard-div-wrapper {
  display: flex;
  gap: 20px;
}
