.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* container-type: inline-size; */
  /* background-color: blue; */
}

.CardContent {
  max-width: 90rem;
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  /* background-color: red; */
}

.CardContainer h2 {
  color: #6a6f73;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  letter-spacing: -0.05rem;
}

.Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 15rem;
  // border: 1px solid black;
  .ant-card-body {
    padding: 0px !important;
  }

  /* background-color: blue; */
}

.Cards img {
  // border: 1px solid #d1d7dc;
  height: 150px !important;
}

.lowerCard {
  margin-top: 1rem;
  padding-left: 15px;
}

.title {
  text-align: start;
  color: #2d2f31;
  font-weight: 500;
  opacity: 0.9;
  line-height: 1.4;
  letter-spacing: -0.02rem;
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.author {
  font-weight: 400;
  opacity: 0.5;
  color: #000;
  font-size: 1.2rem;
  // margin-top: -5px;
  display: flex;
  justify-content: start;
}

.ratings {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.2rem;
  // margin-top: -10px;
  display: flex;
  justify-content: start;
  align-items: center;
  .ant-rate {
    font-size: 15px;
    color: #b4690e !important;
  }
  .ant-rate-star {
    margin-right: -15px !important;
  }
}
.ratings span {
  opacity: 0.8;
  font-weight: 400;
  margin-left: 1rem;
}

.Price {
  color: #2d2f31;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.4rem;
  // margin-top: -16px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.Price span {
  color: black;
  opacity: 0.6;
  font-weight: 400;
  margin-left: 0.5rem;
}

.Cards:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}
.Hover {
  display: none;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
.pagination-div {
  display: flex;
  justify-content: flex-start;
}
.select-field-course {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 1400px) {
  .CardContent {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .CardContent {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .CardContent {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .CardContent {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 2rem;
  }

  .Cards {
    max-width: 24rem;
  }
  .Cards img {
    height: auto !important;
    width: 100% !important;
  }
  .CardContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .select-field-course {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
