.create-section-btn {
  display: flex;
  justify-content: flex-end;
}
.section-card-div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.section-card-right {
  display: flex;
  justify-content: flex-end;
}
.course-section-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .section-card-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .section-card-right {
    display: flex;
    justify-content: flex-start;
  }
}
