.home-page-div {
  max-width: 1300px;
  margin: 0 auto;
}
.course-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  .ant-card-body {
    padding: 0;
  }
  .ant-card {
    box-shadow: 0;
  }
}
.course-card-wrapper img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.card-overlay {
  display: none;
  position: absolute;
}
.single-card {
  position: relative;
}
.single-card:hover {
  .card-overlay {
    display: block;
  }
}
