// .pageWrapper {
//   color: red;
// }

.Banner {
  max-width: 1300px;
  margin: 0 auto;
}

.Banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: initial;
}

@media only screen and (max-width: 1100px) {
  .Banner {
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}
.tour_button_div {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
