.course-curriculum {
  max-width: 80rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.course-curriculum_sub_header {
  display: flex;
  justify-content: space-between;
}
.accordion_panel_title {
  display: flex;
  justify-content: space-between;
}
.course_content_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ant-typography {
    margin-bottom: 0rem;
  }
}
.course_content_div_right_side {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.course_content_div_left_side {
  display: flex;
  gap: 1rem;
  align-items: center;
}
