.course-curriculum {
  max-width: 80rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.course-curriculum_sub_header {
  display: flex;
  justify-content: space-between;
}
.accordion_panel_title {
  display: flex;
  justify-content: space-between;
}
