* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body html {
  height: 100%;
  scroll-behavior: smooth;
}

.text-center {
  text-align: center;
}

.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}
.text-24 {
  font-size: 22px;
}
.text-15 {
  font-size: 15px;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.text-align-left {
  text-align: left;
}
.color-white {
  color: white;
}
.ant-menu {
  border-inline-end: none;
}

// .hide {
//   display: none;
// }
.ant-modal {
  width: 60% !important;
}

@media only screen and (max-width: 640px) {
  .ant-modal {
    width: 98% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .ant-modal {
    width: 90% !important;
  }
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

.primary-color {
  color: #8710d8 !important;
}
.color-red {
  color: red !important;
}

.items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ant-progress-line {
  width: 95%;
}
.ant-progress-inner {
  border-radius: 20px !important;
  // border-color: white !important;
}
.ant-progress.ant-progress-show-info .ant-progress-outer {
  width: 99% !important;
  margin-top: 1rem;
}
@media only screen and (max-width: 768px) {
  .ant-progress-text {
    color: white !important;
  }
}
