* {
  padding: 0;
  margin: 0;
}
body html {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-18 {
  font-size: 18px;
}
.text-15 {
  font-size: 15px;
}

.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.text-align-left {
  text-align: left;
}
.color-white {
  color: white;
}
